<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="com.example.pathfinder.Mapper.ILoginMapper">


    <select id="login" parameterType="map" resultType="UserDTO">
        select *
        from USER_INFO
        where USER_ID = #{userid} and USER_PW = #{userpwd}
    </select>
    <select id="findId" parameterType="UserDTO" resultType="UserDTO">
        select USER_ID from USER_INFO where USER_MAILID = #{userMailid} and USER_MAILDOMAIN = #{userMaildomain}
    </select>
    <select id="findIdCheck" resultType="int" parameterType="UserDTO">
        select count(*) from USER_INFO where USER_MAILID = #{userMailid} and USER_MAILDOMAIN = #{userMaildomain}
    </select>
    <select id="findPwCheck" resultType="int" parameterType="UserDTO">
        select count(*) from USER_INFO where USER_MAILID = #{userMailid} and USER_MAILDOMAIN = #{userMaildomain} and USER_ID = #{userId}
    </select>
    <update id="resetPw" parameterType="UserDTO">
        update USER_INFO set USER_PW = #{userPw} where USER_MAILID = #{userMailid} and USER_MAILDOMAIN = #{userMaildomain} and USER_ID = #{userId}
    </update>
    <delete id="deleteUser" parameterType="UserDTO">
        delete from USER_INFO where UserNo =#{userNo}
    </delete>

</mapper>
