<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pathfinder.Mapper.IUserMapper">
    <select id="idCheck" resultType="UserDTO" parameterType="UserDTO">
        select USER_ID from USER_INFO where USER_ID = #{user_id}
    </select>

    <insert id="saveUser" parameterType="UserDTO">
        <selectKey keyProperty="user_no" resultType="int" order="BEFORE">
            SELECT IFNULL(MAX(USER_NO+1),1) FROM USER_INFO
        </selectKey>
        INSERT INTO USER_INFO(USER_NO, USER_ID, USER_PW, USER_NAME, USER_MAILID, USER_MAILDOMAIN)
        VALUES(#{user_no}, #{user_id}, #{user_pw}, #{user_name}, #{user_mailid}, #{user_maildomain})
    </insert>

</mapper>